*{
    box-sizing: border-box;
}
html {
	margin: 0px; 
    padding: 0px; 
    height: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 100%; 
    background-color: #afbecf;
}
body {
	margin: 0px; 
    padding: 0px; 
    height: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 100%;
    background-color: #afbecf;
    overflow: hidden;
}
.tabsImg {
	float: left;
	margin: 10px 10px 0 0;
}
a:link {
	color: #ce1126;
}
a:visited {
	color: #ce1126;
}
a:hover {
	color: #ce1126;
}
a:active {
	color: #ce1126;
}
.footer {
	padding: 10px 5px 5px; 
    width: 100%; 
    height: 50px;
    text-align: center; 
    bottom: 0px; 
    color: #fcd116; 
    font-size: 0.9em; 
    position: fixed; 
    background-color: #003f87;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.footer-item {
	display: flex;
	padding: 5px;
	margin-left: 30px;
	justify-content: center;
	min-width: 150px;
	height: 30px;
	border: 3px outset #fcd116;
	align-items: center;
}
.centerT {
	margin-right: auto; 
    margin-left: auto;
}
.row {
	white-space: normal;
}
.s-row {
	display: flex; 
    flex-wrap: wrap;
}
.center {
	margin-right: auto; 
    margin-left: auto;
}
.mainWidth {
	width: 100%;
}
.tabBoxWidth {
	width: 100%;
}
.main {
	height: 100%; 
    padding: 0px; 
    margin: 2px; 
    display: flex; 
    min-width: 1200px;
    overflow: hidden;
}
.tabBox {
	padding-bottom: 10px; 
    margin-right: auto; 
    vertical-align: top; 
    min-width: 800px;
    /*min-height: 600px;*/
    width: 100%;
}
.tabcontent {
	border: 1px none; 
    border-color: #b09003;
    padding: 20px 6px 6px 12px; 
    border-image: none; 
    font-size: 0.8em; 
    display: none;
    height: calc(100% - 85px);
    background-color: rgb(204,228,255);
    min-width: 1200px;
}

.tabrow {
		    /*text-align: center;*/
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    font-size: 12px;
		    font-family: verdana;
		    position: relative;
}
.tabrow li {
	    	border: 1px solid #b09003;
		    background: #afbecf;
		    background: linear-gradient(to top,#afbecf 30%, #b09003 100%);
		    display: inline-block;
		    position: relative;
		    z-index: 0;
		    border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
		    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #afbecf;
		    text-shadow: 0 1px #afbecf;
		    margin: 0;
		    padding: 0px 35px 5px 5px;
			height: 60px;
			line-height: 60px;
			cursor: pointer;
}
.tabrow a {
			  color: #444;
			  text-decoration: none;
			  display: inline-block;
			  vertical-align: middle;
			  line-height: 1.5;
}
.tabrow li.selected {
		    background: rgb(204,228,255);
            background: linear-gradient(to top, rgb(204,228,255) 35%, #b09003 90%);
		    color: #ce1126;
		    z-index: 2;
		    border-bottom-color: rgb(204,228,255);
}
.tabrow li.selected a {
    color: #ce1126;
}
.tabrow:before {
		    position: absolute;
		    content: " ";
		    width: 100%;
		    bottom: 0;
		    left: 0;
		    border-bottom: 1px solid #b09003;
		    z-index: 1;
            background-color: #afbecf;
}
.tabrow li:before,
.tabrow li:after {
		    border: 1px solid #b09003;
		    position: absolute;
		    bottom: -1px;
		    width: 5px;
		    height: 5px;
		    content: " ";
}
.tabrow li:before {
		    left: -6px;
		    border-bottom-right-radius: 6px;
		    border-width: 0 1px 1px 0;
		    box-shadow: 2px 2px 0 #afbecf;
}
.tabrow li:after {
		    right: -6px;
		    border-bottom-left-radius: 6px;
		    border-width: 0 0 1px 1px;
		    box-shadow: -2px 2px 0 #afbecf;
}
.tabrow li.selected:before {
		    box-shadow: 2px 2px 0 rgb(204,228,255);
}
.tabrow li.selected:after {
		    box-shadow: -2px 2px 0 rgb(204,228,255);
}
