body {
    margin: 0;
    padding: 0;
}
        
h1 {
    font-size: 2.5em;
    text-align: center;
}
        
img {
    /*width: 100%;*/
    /*height: auto;*/
    opacity: 0.8
}
        
.container {
    position: relative;
    text-align: center;
}
        
.title {
    text-align: center;
    color: Blue;
    font-variant: small-caps;
    background-color: Gold;
    /*border: 2px ridge DarkgoldenRod;*/
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
    background: linear-gradient(Gold, DarkGoldenRod);
    text-shadow: 1px 1px 3px DarkRed;
    margin: 10px;
}
        
.results {
    /*border: 1px solid DarkGoldenRod;*/
    /*border-radius: 5px;*/
    box-shadow: 3px 3px 8px rgba(0,0,0,0.8), 6px 6px 16px 1px rgba(0,0,0,0.3);
}
        
.center {
    position: RELATIVE;
    /*text-align: center;
    top: 50%;
    width: 100%;*/
    margin: 0;
    font-size: 1.5em;
    /*transform: translate(0, -30%);*/
}
        
.center.shadowText {
    text-shadow: 2px 2px 4px rgb(100,100,100);
}
        
.LanePlace {
    visibility: visible;
    font-size: 1.7em;
    text-shadow: 2px 2px 5px GoldenRod;
    font-style: italic;
    margin-bottom: 5px;
}
        
table#tableRound {
    border: 1px solid black;
    border-collapse: collapse;
    width: 85%;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 20pt;
}
        
table#tableRound th {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    background-color: DarkBlue
}
        
table#tableRound td {
    border: 1px solid black;
    border-collapse: collapse;
    /*color: white;
    background-color: DarkBlue*/
}
        
table#tableRound tr:nth-child(even) {
    background-color: #e6f0ff;
}
        
table#tableRound tr:nth-child(odd) {
    background-color: #fff2cc;
}

.h2-columns {
    columns: 2;
    margin: 10px 100px 10px 100px;
}